<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
    <title>Information About Caris Konath</title>

    </head>
    <body>
    <!-- This first section will include the paragraphs, lists, and font emphasis-->

    <h1>Personal Interests</h1>
        <h2>Love For Sports</h2>
        <p> Staying active and in game form has always been a hobby of mine is my love to play and
            watch various sports. Growing up I played basketball for about 7 years and usually playing center
            as I was often the tallest girl on my team! Outside of competitive sports on a team, my family
            and I often played sports including:</p>
            <ul>
            <li><strong>touch football</strong></li>
            <li><strong>ultimate frisbee</strong></li>
            <li><strong>pickleball</strong></li>
            </ul>
    <p>
            While I love participating in sports, watching
            leagues like the NFL, MLB, and NBA are also strong interests of mine. In particular, I strongly follow
        the <em>Washington Commanders</em> due to my local DMV pride and the <em>New York Yankees </em> and <em> New York Knicks </em>
            because my father is from New York!
    </p>
    <h2>Love For Games</h2>
    <p>
        Playing board games and card games of all varieties is another hobby of mine! To start off
            with cards games, I am a big fan of poker and specifically <strong> Texas Holdem</strong>, which I learned around
            age 8. In terms of board games, there are so many that I have played for a long time and really
            enjoy! Below is a list of 5 in order of my favorite to least favorite: </p>
            <ol>
            <li><em>Catan</em></li>
            <li>Codenames</li>
            <li>Rummikub</li>
            <li>Sequence</li>
            <li>Monopoly</li>
            </ol>
    <!-- Next section includes the course table -->
    <p>
        Now jumping into my professional interests, I am reaching the end of my college career and am
        considering exploring careers within industries including consulting, data analytics, and product
        management. Below I have added a table of courses within my time at UMD that have impacted my
        career interests and goals.
    </p>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Database Systems</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT341</td>
            <td>Financial Markets</td>
            <td>Spring 2026</td>
        </tr>
        <tr>
            <td>BMGT495</td>
            <td>Strategic Management</td>
            <td>Fall 2025</td>
        </tr>
    </table>
    <!-- The next section includes the hyperlinks and image-->
    <p>Here is a link to my hello world route <a href="hello.html"></a></p>
    <p>To continue the theme of sharing games and activities I enjoy, I wanted to share daily
    online games that I like! The two online games I like the most are called Krillion and
    Wordle, and here are their links: <a href="https://krillion.io" target="_blank"></a> and
        <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank"></a>.</p>

    <p>To end this page about myself, I will be adding UMD's Robert H Smith's logo.</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">



    </body>
</html>